.container-right {
    margin-left: 600px;
    padding-right: 100px;
}

.container-right__header {
    width: 600px;
    font-size: 50px;
    color: white;
    padding-top: 150px;
    padding-bottom: 30px;
    padding-right: 38px;
    line-height: 52px;
}

.container-right__desc {
    color: white;
    border-left: 3px solid white;
    padding-left: 20px;
    width: 460px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.runner-section {
    margin: 0 auto;
    padding: 0 20px;
    width: 1300px;
    background-image: url(../../images/runners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.runner-button{
    width: 250px;
}